.root {
	-fx-font-family: "Segoe UI";
	-fx-background-color: #f4f6f8;
}
/* Titulo */

.titulo-principal {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-text-fill: #1f2937;
}

.subtitulo{
	fx-font-size: 13px;
	-fx-text-fill: #6b7280;
}
.titulo-secao{
	-fx-font-size: 16px;
	-fx-text-fill: #1f2937;
	-fx-font-weight: bold;
}

/* Card */

.card {
	-fx-background-color: white;
	-fx-background-radius: 10px;
	-fx-padding: 20px
	
	-fx-effect: dropshadow(
		gaussian,
		rgba(0,0,0,0.08),
		12,
		0,
		0,
		3
	);
}

/* Campos*/

.label-campo{
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #374151;
}

.text-field:focused {
	-fx-border-color: #256eb;
	-fx-border-width: 1.5px;
}

/* Botaes */

.button{
	-fx-cursor: hand;
	-fx-background-radius: 6px;
	-fx-padding: 9px 16px;
	-fx-font-weight: bold;
}

.botao-principal{
	-fx-background-color: #2563eb;
	-fx-text-fill: white;
}

.botao-principal:hover{
	-fx-background-color: #1d4ed8;
}

.botao-editar{
	-fx-background-color: #e5e7eb;
	-fx-text-fill: 1f2937;
}

.botao-editar:hover{
	-fx-background-color: #d1d5db;
}

.botao-excluir{
	-fx-background-color: #dc2626;
	-fx-text-fill: white;
}
.botao-excluir:hover{
	-fx-background-color: #b91c1c;
}
/* Tabela */

.table.view{
	-fx-background-color: transparent;
	-fx-border-color: #e5e7eb
	-fx-border-radius:6px;
	-fx-background-radius: 6px;
}
.table-view .column-header{
	-fx-background-color: transparent;
	-fx-padding: 8px;
}
.table-view .column-header-background{
	-fx-background-color: #f9fafb;
}

.table-row-cell {
	-fx-cell-siz: 38px;
}

.table-row-cell:selected{
	-fx-background-color: #dbeafe;
	-fx-text-background-color: #1f2937;
}
