.root {
	-fx-font-family: "Segoe UI";
	-fx-background-color: #151920;
}
/* Titulo */

.titulo-principal {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.subtitulo{
	-fx-font-size: 13px;
	-fx-text-fill: #a9b8c8;
}
.titulo-secao{
	-fx-font-size: 16px;
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
}

/* Card */

.card {
	-fx-background-color: #1b2028;
	-fx-border-color: #343b46;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-padding: 20px;
	
	-fx-effect: dropshadow(
		gaussian,
		rgba(0,0,0,0.08),
		12,
		0,
		0,
		3
	);
}

/* Campos*/

.label-campo{
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #d8dee7;
}
.text-field {
    -fx-background-color: #151920;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #768393;
    -fx-border-color: #3b4350;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}
.text-field:focused {
	-fx-border-color: #f6a62c;
	-fx-border-width: 1.5px;
}

/* Botaes */

.button{
	-fx-cursor: hand;
	-fx-background-radius: 6px;
	-fx-padding: 9px 16px;
	-fx-font-weight: bold;
}

.botao-principal{
	-fx-background-color: #f6a62c;
	-fx-text-fill: #151920;
}

.botao-principal:hover{
	-fx-background-color: #ffb63f;
}

.botao-editar{
	-fx-background-color: #2a303a;
	-fx-text-fill: #ffffff;
}

.botao-editar:hover{
	-fx-background-color: #343b46;
}

.botao-excluir{
	-fx-background-color: #8f3434;
	-fx-text-fill: white;
}
.botao-excluir:hover{
	-fx-background-color: #a83d3d;
}
/* Tabela */

.table-view{
	-fx-background-color: #151920;
	-fx-border-color: #343b46;
	-fx-border-radius:6px;
	-fx-background-radius: 6px;
}
.table-view .column-header{
	-fx-background-color: transparent;
	-fx-padding: 8px;
}
.table-view .column-header-background{
    -fx-background-color: #202630;
}
/*#######################*/
.table-view .column-header .label{
    -fx-text-fill: #ffffff;
}
.table-row-cell {
	-fx-cell-size: 38px;
	-fx-background-color: #151920;
}
.table-row-cell .text{
    -fx-fill: #e8ebef;
}
.table-row-cell:selected{
	-fx-background-color: #47391f;
	-fx-text-background-color: #ffffff;
}
